html{
	background: url(../img/baner.jpg) center repeat;
	background-attachment: fixed;
}

header{
	min-width: 1334px;
	width: 1334px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.head-photo{
	width: 1334px;
	height: 306px;
}

main{
	width: 1334px;
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
	color: #d0c7c7;
}

.row1{
	height: auto;
	font-size: 1.03em;
	text-indent: 30px;
}

.main-photo{
	float: left;
	height: 159px;
	width: 260px;
	margin-right: 20px;
}

.row2{
	margin-top: 50px;
	font-size: 1.03em;
	text-indent: 30px;
}

.body-photo3{
	float: right;
	height: 210px;
	width: 210px;
	margin-left: 20px;
}

footer{
	min-width: 1334px;
	margin-left: auto;
	margin-right: auto;
	width: 1334px;
	margin-top: 50px; 
	display: flex;
	color: #d0c7c7;
}

footer div{
	width: 17%;
	height: 10px;
	margin-left: 10px;
	float: left;
	text-indent: 30px;
}

.body-photo4{
	float: left;
	width: 26%;
	height: 160px;
	margin-right: 20px;
}
